.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  /* border: red solid 1px; */
  width: 20%;
  height: 30%;
  position: absolute;
  bottom: 10%;
  left: 40%;

}